.about-img img
{
    max-width: 90% !important;
    width: 100% !important;
    display: block;
    margin: auto;
}
.about-content p
{
    max-width: 90%;
    width: 100%;
    margin: auto;
}
.about-content .navlist
{
    max-width: 95%;
    width: 100%;
    margin: auto;
}
.about-content i
{
   font-weight: bolder;
     margin: 0 10px;
     font-size: 13px;
}

@media(min-width:300px) and (max-width:500px)
{
    .navItems
    {   
        margin-top: 20px !important;
    }
}

 
