#testimomial .content {
    margin-top: 20px;

}

.content p {
    color: black !important;
    font-size: 12px;
}

#testimomial span {
    margin: 0 10px;
    font-weight: 500;
}

.content p
{
    font-size: 14px !important;
}
.content small
{
    font-weight: bold;
    letter-spacing: 1px;
       
    
}