.banner-wrapper
{
    background-image: url('../assets/images/home_banner_image.jpg');
    width: 100%;
    height: 69vh;
    background-size: cover;
    background-position: left;
    
    
}

.banner-wrapper .inner-banner
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.inner-banner p
{
    color: white;
    width: 50%;
    text-align-last: center;
    margin-top: 1%;
}

.inner-banner button
{
    outline: none;
    border: none;
    color: rgb(173, 86, 28);
    background: transparent;
    line-height: 0;
    font-weight: 500;
}